-- Add Spotify columns to users table
ALTER TABLE users ADD COLUMN spotify_id VARCHAR(255);
ALTER TABLE users ADD COLUMN spotify_access_token TEXT;
ALTER TABLE users ADD COLUMN spotify_refresh_token TEXT;
ALTER TABLE users ADD COLUMN token_expires_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE users ADD COLUMN spotify_scope TEXT;
ALTER TABLE users ADD COLUMN profile_image TEXT;

-- Add index for spotify_id
CREATE INDEX idx_users_spotify_id ON users(spotify_id);
