# Spotify API Configuration
SPOTIFY_CLIENT_ID=3d8d032ed282470cac128ad3e41ccf6a
SPOTIFY_CLIENT_SECRET=68dff20af10c4b129b1db3a12f0c4ef8
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3002/api/auth/spotify/callback

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=your_nextauth_secret
